.nav-heading{
    font-size: 2rem;
    color: white;
}
.nav-link{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.footer-p{
    font-size: 14px;
    color: #777777;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  